<div class="footer">
  <div class="social">
    <ul>
      <% for(let item of theme.footer.social){ %>
        <li>
          <a title="<%- item.name %>" href="<%- item.path %>">
            <i class="iconfont icon-<%- item.icon %>"></i>
          </a>
        </li>
      <% } %>
    </ul>
  </div>
  <span id="bloggeractivetime"></span>
  <script type="text/javascript">
  document.onreadystatechange = function(){
      if(document.readyState == "complete"){
          var ele = document.createElement("script");
          ele.src = "https://grape.883602.xyz/hpp/api/getblogeractive";
          document.body.appendChild(ele);
       }
  }
</script>
  <% for(let item of theme.footer.more){ %>
    <div class="footer-more">
      <a href="<%- item.path %>"><%- item.name %></a>
    </div>
  <% } %>
</div>
